<div class="chat">
  <div class="chat-title">
    <h1>Upaj</h1>
    <h2>Farmers helper bot</h2>
    <figure class="avatar">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
  </div>
  <div class="messages">
    <div class="messages-content">
      <div *ngFor="let msg of conv_thread" class="message new"><figure *ngIf="!msg.by_user" class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg"></figure>Hi there, I'm Fabio and you?<div class="timestamp">1:19</div></div>
      <div class="message message-personal new">sdasd<div class="timestamp">1:23</div></div>
    </div>
  </div>
  <div class="message-box">
    <textarea [(ngModel)]="text" type="text" class="message-input" placeholder="Type message..."></textarea>
    <button (click)="push_query()" type="submit" class="message-submit">Send</button>
  </div>

</div>
<div class="bg"></div>