Django==2.2.13
djangorestframework==3.9.1
pytz==2018.9
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
chardet==3.0.4
idna==2.7
Js2Py==0.59
more-itertools==4.3.0
numpy==1.15.1
pandas==0.23.4
pluggy==0.7.1
py==1.6.0
pyjsparser==2.5.2
pytest==3.8.0
python-dateutil==2.7.3
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tzlocal==1.5.1
urllib3==1.23
watson-developer-cloud==2.0.1
websocket-client==0.47.0
whitenoise==4.1.1
django-cors-headers
django-heroku
Pillow
django-debug-toolbar
pylint-django==2.0.6
SpeechRecognition
google-cloud-translate==1.3.3
dj-static==0.0.6
matplotlib==3.0.3
https://launchpad.net/python-weather-api/trunk/0.3.8/+download/pywapi-0.3.8.tar.gz

